<%- include("../layouts/header"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Latest Todos</h1>
      <ul>
      <% for (var i=0; i<todos.length; i++) { %>
        <li><%= todos[i].message %> - <%= todos[i].createdAt %></li>
      <% } %>
      </ul>
    </div>
  </div>
</div>

<%- include("../layouts/footer"); -%>