<%- include("../layouts/header"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p><span class="font-bold">Application developed by:</span> Veronica Londoño - Daniel Correa - Alejandro Cortiñas</p>
      <p>EAFIT University<br />
      Medellín, Colombia<br />
      2021
      </p>
      <p>Universidade da Coruña<br />
        La Coruña, España<br />
        2021
      </p>
    </div>
  </div>
</div>

<%- include("../layouts/footer"); -%>