<%- include("../layouts/header"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Navigate to the <a href="/todos">todos section</a> to check the latest todos.
      </p>
    </div>
  </div>
</div>

<%- include("../layouts/footer"); -%>